body {
    font-family: "Roboto", serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #212327;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.main-header {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.main-header__title {
    text-align: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 auto;
}

.main > div {
    margin: 0 auto;
}

.leaderboard {
    min-width: 360px;
    max-width: 500px;
}

.leaderboard-table {
    width: 100%;
}

.leaderboard-table td,
.leaderboard-table th,
.leaderboard-table {
    border-collapse: collapse;
    border: 1px solid #3e7bff;
    text-align: center;
}

.leaderboard-table td,
.leaderboard-table th {
    padding: 5px;
}

.active-player {
    color: #d45950;
}

.first-place {
    color: rgb(255, 221, 67);
}

.second-place {
    color: rgb(206, 206, 206);
}

.third-place {
    color: #a36b6b;
}

.leaderboard__players-num {
    margin-top: 5px;
    color: #3e7bff;
}

.game-info {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    font-size: 0.8em;
}

.game-info,
.comming-soon__title,
.leaderboard__title {
    margin-bottom: 5px;
}

.game-info__best-score,
.game-info__patch-note {
    font-size: 2em;
}

.game-info__patch {
    position: relative;
}

.game-info__patch-note {
    color: #c01509;
    font-weight: 700;
    cursor: pointer;
}

.game-info__patch-number {
    position: absolute;
    content: '';
    right: -17px;
    top: -8px;

    font-size: 0.8em;
    width: 35px;
    height: 15px;
    background-color: #c01509;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
}

.game__canvas {
    display: block; 
    border: #ffffff 1px solid; 
    border-radius: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 1200px) {
    .main-header {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .game {
        width: 100%;
        margin: 0;
        order: -1;
    }

    .game-info {
        max-width: 402px;
        padding: 0 10px;
    }

    .game__canvas {
        width: 100%;
        margin: 0 auto;
        max-width: 400px;
        max-height: 664px;
    }
}