body {
    font-family: "Roboto", serif;
    font-weight: 500;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px auto 0;
}

.main-aim {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
}

.main-aim__title {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.main-aim__description {
    margin-bottom: 40px;
}

.game {
    margin: 0 auto;
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.game-info__best-score,
.game-info__patch-note {
    font-size: 2em;
}

.game-info__patch-note {
    color: #f941ff;
    text-decoration: underline;
}

.game__canvas {
    display: block; 
    border: #000000 1px solid; 
    border-radius: 10px;
}

@media (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .game {
        width: 100%;
        margin: 0;
        order: -1;
        margin-bottom: 40px;
    }

    .game__canvas {
        width: 100%;
    }

    .main-aim {
        width: 100%;
    }

}